/******* the 3 MQs from below are from checkpoint 33's material for dashboard*******/
/* Larger Mobile Devices -2 columns*/

@media (min-width:460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content-item {
    width: 46%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}
/* Checkpoitnt 33: Tablets - 3 columns*/

@media (min-width:768px) {
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content>.container {
    width: 700px;
  }
  .content-item {
    width: 31.33333%;
    margin: 0 1% 25px;
  }
}

/* Checkpoint 33: Laptops and Desktops -4 columns*/

@media (min-width:992px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 83.33333333%;
    position: relative;
  }
  .content>.container {
    width: auto;
  }
  .content-item {
    width: 23%;
    margin: 0 1% 25px;
  }
}

@media (min-width:992px) {
  .left-nav {
    height: 100vh;
    width:14.66666667%;
    color:#FFFFFF;
    background: #34495E;
    background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
    float:left;
    position: fixed;
    display:block;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .left-nav.open {
    width:14.66666667%;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .hamburger {
    display:none;
  }
}
