  /* mobile iphone 6*/

  @media (min-width: 375px) and (max-width: 667px) {
    header .hero h1 {
      margin-top: 0px;
      font-size: 2em;
    }
    header .hero p {
      margin-top: 0px;
      margin-bottom: 20px;
      font-size: 1em;
    }
    header .hero img {
      margin-top: 2em;
    }
    header nav div.one-half {
      width: 45%;
    }
    header img {
      width: 85px;
    }
    header ul a {
      font-size: 0.775em;
    }
    header nav ul>li.btn-outline {
      padding: 6px 10px;
      border: 1.5spx solid;
      border-radius: 4px;
      margin-left: 15px;
      margin-right: 0;
      display: none;
    }
    header .btn {
      font-size: 0.675em;
      font-weight: 500;
      padding: 8px 24px;
      border: 1.5px;
      box-shadow: 0px 1px 0px 0px #22894E;
    }
    #dashboard {
      width: 250px;
      height: 145px;
    }
    p {
      font-size: 0.875em;
    }
    h2 {
      font-size: 1.5em;
    }
    .benefits, .pricing, .testimonials, .benefits ul {
      padding: 2em 0;
    }
    .benefits i {
      font-size: 3.5em;
    }
    .benefits p {
      margin-left: 7.75em;
      margin-right: 7.75em;
    }
    .pricing div>p {
      margin-left: 9em;
      margin-right: 9em;
    }
  }
  /*tablet-1*/

  @media (min-width: 668px) and (max-width: 767px) {
    header .hero h1 {
      margin-top: 0px;
      font-size: 2.125em;
    }
    header .hero p {
      margin-top: 0px;
      margin-bottom: 20px;
      font-size: 1.125em;
    }
    header .hero img {
      margin-top: 2em;
    }
    header nav div.one-half {
      width: 45%;
    }
    header img {
      width: 85px;
    }
    header ul a {
      font-size: 0.775em;
    }
    header nav ul>li.btn-outline {
      padding: 6px 10px;
      border: 1.5spx solid;
      border-radius: 4px;
      margin-left: 15px;
      margin-right: 0;
    }
    header .btn {
      font-size: 0.675em;
      font-weight: 500;
      padding: 8px 24px;
      border: 1.5px;
      box-shadow: 0px 1px 0px 0px #22894E;
    }
    #dashboard {
      width: 300px;
      height: 175px;
    }
    p {
      font-size: 1em;
    }
    .benefits, .pricing, .testimonials, .benefits ul {
      padding: 2em 0;
    }
    .benefits p {
      margin-left: 9em;
      margin-right: 9em;
    }
    .pricing li.one-third {
      width: 60%;
      margin: 0 auto;
    }
    .box.middle {
      margin: 25px auto;
    }
  }
  /*tablet-2*/

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px;
    }
    .one-half {
      width: 45%;
    }
    .benefits, .pricing, .testimonials, .benefits ul {
      padding: 2em 0;
    }
    .benefits p {
      margin-left: 10em;
      margin-right: 10em;
    }
    .pricing div>p {
      margin-left: 11em;
      margin-right: 11em;
    }
    .pricing li.one-third {
      width: 29.3333%;
    }
    .box ul li {
      font-size: 16px;
    }
    .box {
      min-height: 390px;
    }
    .box.middle {
      min-height: 430px;
    }
    .btn {
      padding: 10px 15px;
    }
    footer {
      background-image: none;
      height: 100px;
    }
    footer p, footer nav ul {
      -webkit-padding-start: 0px;
      text-align: left;
    }
    footer .left-footer-block.one-third, footer .link-block.middle-footer-block.one-third {
      width: 45%;
      clear: both;
    }
    footer .right-footer-block.one-third {
      width: 45%;
      clear: right;
    }
    footer .logo {
      position: absolute;
      right: 0px;
      bottom: -58px;
    }
  }
  /*desktop-1*/

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .one-half {
      width: 44%;
    }
    .one-third {
      width: 29.33333%;
    }
    .one-fourth {
      width: 21%;
    }
    footer {
      background-color: #3498DB;
      background-image: linear-gradient(to left, #3498DB 0%, #3498DB 33.33337%, #34495E 33.33337%, #34495E 100%);
      height: 100px;
    }
    footer p, footer nav ul {
      padding: 2em 0;
      text-align: left;
    }
    footer .right-footer-block {
      background-color: #3498DB;
    }
    footer .logo {
      padding: 2em 0 2em 1.5em;
    }
    .left-footer-block.one-thrid {
      width: 26.33333%;
    }
    .link-block.middle-footer-block.one-third {
      width: 35.33333%;
    }
    .right-footer-block.one-third {
      width: 23.3333%;
    }
  }
  /*desktop-2*/

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* Larger Mobile Devices -2 columns*/

  @media (min-width:460px) {
    .content {
      padding: 1.5em 1%;
      float: right;
      width: 90%;
      position: relative;
    }
    .content-item {
      width: 46%;
      margin: 0 2% 25px;
      float: left;
      display: block;
    }
  }
  /* Tablets - 3 columns */

  @media (min-width:768px) {
    .content {
      padding: 1.5em 5%;
      float: right;
      width: 90%;
      position: relative;
    }
    .content>.container {
      width: 700px;
    }
    .content-item {
      width: 31.33333%;
      margin: 0 1% 25px;
    }
  }
  /* Laptops and Desktops -4 columns */

  @media (min-width:992px) {
    .content {
      padding: 1.5em 1%;
      float: right;
      width: 83.33333333%;
      position: relative;
    }
    .content>.container {
      width: auto;
    }
    .content-item {
      width: 23%;
      margin: 0 1% 25px;
    }
  }
